# Cloud Shell specific files
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.docker/
.gemini/
.gitconfig
.npm/
.profile
.sudo_as_admin_successful
README-cloudshell.txt
policy.yaml
workspace-admin.json

# Python specific ignores
__pycache__/
*.pyc
.venv/
venv/
